.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightbg);
    padding: 1rem 2rem;
}

.navbar .links a, span{
    display: inline-flex;
    padding-left: 2rem;
}

.active {
    color: var(--accent);
}
