:root {
  --accent: #F7B200;
  --darkbg: #0A0D10;
  --lightbg: #202122;
  --whiteaccent: #D9D9D960;
  --defaultfont: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--darkbg) !important;
  color: var(--defaultfont) !important;
}

a {
    text-decoration: none;
    color: var(--defaultfont);
    display: inline-flex;
    font-size: 1.25rem;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}
button{
  width: 20rem;
  height: 3rem;
  font-size: 1.2rem;
  background-color: #E8BC1F;
  color: black;
  border: 1px solid #E8BC1F ;
}
